agrisync.online {
    tls /etc/caddy/certs/origin.crt /etc/caddy/certs/origin.key

    encode gzip

    reverse_proxy agrisync-web:3000
}

admin.agrisync.online {
    tls /etc/caddy/certs/origin.crt /etc/caddy/certs/origin.key

    encode gzip

    # redirect root -> /_/
    redir / /_/ 302

    request_body {
        max_size 100MB
    }

    reverse_proxy pocketbase:8090 {

        transport http {
            read_timeout 360s
        }

        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
